.buds-container {
    display: grid;
    grid-template-columns: 250px max-content;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    background: rgb(46, 45, 45);
    color: var(--bg-color);
    border-radius: 0.5rem;
}

.buds-img img {
    width: 320px;
}

.buds-text h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.buds-text span {
    font-weight: 400;
}

.buds-text p {
    margin: 1rem 0 1rem;
}