.heading {
text-align: center;
font-size: 3.4rem;
background: black;
color: transparent;
-webkit-background-clip: text;
background-clip: text;
margin-bottom: 2rem;
}

.specs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.specs-details{
    display: grid;
    row-gap:1.4rem;
}

.specs-details .box .bx{
    font-size: 1.6rem;
    
}

.specs-details .box .h3{
    font-size: 1rem;
}

.specs-details p{
    margin-top: 0.5rem;
    padding-bottom: 12px;
}
